[submodule "MSA"]
	path = MSA
	url = https://github.com/maslab-ufrgs/MSA
[submodule "system_optimal_solver"]
	path = system_optimal_solver
	url = https://github.com/maslab-ufrgs/system_optimal_solver
