[submodule "system_optimal_solver"]
	path = system_optimal_solver
	url = https://github.com/maslab-ufrgs/system_optimal_solver
[submodule "MSA"]
	path = MSA
	url = https://github.com/maslab-ufrgs/MSA
[submodule "route_coupling"]
	path = route_coupling
	url = https://github.com/maslab-ufrgs/route_coupling
